.menu {
  color: var(--first-bg-color);
  padding-bottom: var(--main-top-padding);
  padding-top: var(--main-top-padding);
}
.menu__list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.menu__item:not(:last-child) {
  margin-right: 8px;
}
.menu__btn {
  cursor: pointer;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background: var(--second-bg-color);
  border-radius: 4px;
  border: none;
  padding: 6px 22px;

  transition: color 250ms $transition-t-f, background-color 250ms $transition-t-f,
    box-shadow 250ms $transition-t-f;

  &:hover {
    color: #ffffff;
    background: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  &--current {
    color: #ffffff;
    background: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
