.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: $main-lh;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);

  margin-bottom: $min-margin;

  @include desktop {
    margin-bottom: 50px;
  }
}
