@mixin input-border {
  outline: none;
  border-color: #2196f3;
}
@mixin hover-btn-bg {
  background-color: #188ce8;
}
@mixin secondary-top-padding {
  padding-top: 60px;
}
@mixin secondary-bottom-padding {
  padding-bottom: 60px;
}
@mixin mobile {
  @media screen and (min-width: 480px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1200px) {
    @content;
  }
}
