.features {
  color: var(--first-bg-color);
  background-color: var(--first-bg-color);
  @include mobile {
    @include secondary-top-padding;
    @include secondary-bottom-padding;
  }
  @include tablet {
    @include secondary-top-padding;
    @include secondary-bottom-padding;
  }
  @include desktop {
    padding-top: var(--main-top-padding);
    padding-bottom: 0;
  }
}

.features-list {
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  @include desktop {
    display: flex;
    justify-content: space-between;
  }
}
.features__item {
  @include mobile {
    margin-bottom: $min-margin;
  }
  @include tablet {
    margin-bottom: $min-margin;
    width: calc(100% / 2 - 15px);
  }
  @include desktop {
    margin-bottom: $min-margin;
    width: calc(100% / 4 - 30px);
  }
}

.features__img {
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  height: 120px;
  justify-content: center;
  align-items: center;
}
.features__subtitle {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 10px;

  @media screen and (max-width: 767.98px) {
    text-align: center;
  }
}

.features__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
