.features {
  color: var(--first-bg-color);
  background-color: var(--first-bg-color);
  padding-top: var(--main-top-padding);
}

.features-list {
  display: flex;
  justify-content: space-between;
}
.features__item {
  width: calc((100% - 90px) / 4);
}

.features__img {
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  height: 120px;
  justify-content: center;
  align-items: center;
}
.features__subtitle {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.features__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
